* {
    font-family: Open sans, arial;
    font-size: 2.667vh;
}
body {
    margin: 0;
    padding: 0;
}

h2 {
    padding: 2vh 0vw;
    margin: 0;
    font-size: 3vh;
    color: #0b435a;
    text-decoration: underline;
}

h1 {
    color: #FFFFFF;
    font-size: 5vh;
}


ul {
    color: #0b435a;
}
/* Nav */
.topNav {
    display: flex;
    margin: 3vh 4vw;
}

.topNav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}
 
.topNav p {
    font-size: 2.667vh;
    margin: 0;
}

#contactInfo {
    list-style-type: none;
}

#topHead {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #126383;
}

#portrait {
    height: 30vh;
    border-radius: 50%;
}

#allContainer {
    display: flex;
    justify-content: center;
    gap: 5vw;
}

#leftSide {
    padding: 5vh 5vw;
    width: 40vw;
}

#rightSide {
    padding: 5vh 5vw;
    width: 60vw;
}

#summary p {
    color: #0b435a;
}