
* {
    font-family: Open sans;
}
body {
    margin: 0;
    padding: 0;
}

/* Nav */
.topNav {
    display: flex;
    justify-content:space-between;
}

.topNav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
 
.linkCont {
    display: flex;
    justify-content: space-between;
    width: 10vw;
}  

/* Index page */
/* Hero part of index */
#mainContent {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( to top right, #8CFFD1, #FFFFFF);
}

#headPart {
    display: flex;
    margin-bottom: 12vh;
}

#headPart img {
    width: 32vw;
    padding: 2vh 4.44vw;
    margin-left: auto;
}

#textCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 28vh;
    padding: 2vh 4.44vw;
}

#textCont h1 {
    margin: 0;
    font-size: 100px;
}

#textCont h3 {
    margin:0;
    font-size: 40px;
}

#textCont p {
    width: 45vw;
    margin: 0;
    font-size: 24px;
}

/* Learn more scroll */
 #learnDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 3vh;
 }

 /* Index body */
 #contentContainer {
    display: flex;
    flex-direction: column;
 }

 #aboutContent {
    display: flex;
    flex-direction: column;
 }

 #aboutsidePic {
    display: flex;
    width: 38.542vw;
 }